body, .bg-dark{
    background-color: #1B1B1B !important;
}

.navbar{
    position: relative;
}

.navbar .form-control{
    background-color: #1B1B1B !important;
    color: #FFF;
    border-color: #FFF;
    border-radius: 0;
    max-width: 115px;
    line-height: 28px;
    height: 28px;
}

.navbar img{
    height: 24px;
}

.navbar-dark .navbar-toggler{
    color: #FFF;
    border: none;
    padding-right: 0;
}

.navbar ul{
    color: #999898;
    max-width: 250px;
    background-color: #1B1B1B;
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.navbar ul li{
    padding: 0.3em 1em;
}

.navbar ul li.divider{
    border-bottom: 1px solid #999898;
    margin: 0.3em auto;
}

.media-avatar img{
    height: 38px;
}